@model List<LocationListItemViewModel>
    <div class="container">
        <div class="row">
            <div class="col"><h3>Location List</h3> </div>
            <div class="col"><a asp-controller="home" asp-action="Location" asp-route-id="0" class="btn btn-link"> Add Location </a></div>
        </div>
    </div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Eat Kard?</th>
                    <th scope="col">CertainDayToGo</th>
                    <th scope="col">DayToGo</th>
                    <th scope="col">Process</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@(item.HasEatKard?"Yes":"No")</td>
                    <td>@(item.CertainDayToGoMonday? "MON" : "-"),@(item.CertainDayToGoTuesday? "TUE" : "-"),@(item.CertainDayToGoWednesday? "WED" : "-"),@(item.CertainDayToGoThursday? "THU" : "-"),@(item.CertainDayToGoFriday? "FRI" : "-"),@(item.CertainDayToGoSaturday? "STD" : "-"),@(item.CertainDayToGoSunday? "SUN" : "-")</td>
                    <td>@(item.DayToGoMonday? "MON" : "-"),@(item.DayToGoTuesday? "TUE" : "-"),@(item.DayToGoWednesday? "WED" : "-"),@(item.DayToGoThursday? "THU" : "-"),@(item.DayToGoFriday? "FRI" : "-"),@(item.DayToGoSaturday? "STD" : "-"),@(item.DayToGoSunday? "SUN" : "-")</td>
                     <td> <a asp-controller="Home" asp-action="Location" asp-route-id="@item.Id" class="btn btn-warning">E </a><a asp-controller="Home" asp-action="LocationDelete" asp-route-id="@item.Id" class="btn btn-danger">X</a></td>
                </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col-12 text-center"> Lütfen lokasyon giriniz.</div>
        </div>
    }
